<configuration>
    <property name="LOG_DIR" value="./logs" />
    <property name="LOG_FILE" value="logFile.log" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/${LOG_FILE}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>tests.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>20MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS} | %thread | %-5level | %logger{35}] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="my.future.hospital.health.diagnosis" level="DEBUG">
        <appender-ref ref="FILE" />
    </logger>

</configuration>
