<configuration>
    <property name="LOG_DIR" value="./logs" />
    <property name="LOG_FILE" value="logFile.log" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/${LOG_FILE}</file>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS} | %thread | %-5level | %logger{35}] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="my.future.hospital.health.diagnosis" level="DEBUG">
        <appender-ref ref="FILE" />
    </logger>

</configuration>
